<div id="header-nav" class="container-fluid d-flex align-items-center">

  <div class="row d-flex align-items-center">

    <div id="header-texto" class="col-md-6">
      <span id="header-name">Jonathan Verdú Líria </span><span id=header-programador><span id="header-programador-barra">/ </span>PROGRAMADOR</span>
    </div>

    <div class="col-md-6">

      <nav id="menu">

        <ul class="header-menu">
          <li routerLink=""><a>SOBRE MÍ</a></li>
          <li routerLink="curriculum"><a>CURRÍCULUM</a></li>
          <li routerLink="proyectos"><a>PROYECTOS</a></li>
          <li routerLink="contacto"><a>CONTACTO</a></li>
        </ul>

      </nav>

    </div>

  </div>

</div>


<nav id="menu-mobile">

  <ul class="header-menu">
    <li routerLink=""><a>SOBRE MÍ</a></li>
    <li routerLink="curriculum"><a>CURRÍCULUM</a></li>
    <li routerLink="proyectos"><a>PROYECTOS</a></li>
    <li routerLink="contacto"><a>CONTACTO</a></li>
  </ul>

</nav>
