<footer id="footer">

  <div class="row">

    <div id="footer_left" class="col">
      <p>Política de Privacidad</p>
      <p>@ 2023 creado por Jonathan Verdú Líria</p>
    </div>

    <div id="footer_right" class="col">
        <table>
          <tr>
            <th>Teléfono</th>
            <th>Email</th>
            <th>GitLab</th>
          </tr>
          <tr>
            <td>622731193</td>
            <td>gismou@gmail.com</td>
            <td><a href="https://gitlab.com/gismou">https://gitlab.com/gismou</a></td>
          </tr>
        </table>
    </div>

  </div>

</footer>
