<div id="contacto-container" class="container-fluid">

  <h1>CONTACTO</h1>

  <div class="row">

    <div class="contacto-card">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">

        <div class="contacto-card-input">
          <label for="nombre">Nombre de particular o empresa</label>
          <input type="text" name="nombre" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }" />
          <div style="color:red" *ngIf="form['nombre'].errors && form['nombre'].touched">El campo no puede estar vacio</div>
        </div>

        <div class="contacto-card-input">
          <label for="email">Email</label>
          <input type="email" name="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" />
          <div style="color:red" *ngIf="form['email'].errors && form['email'].touched">El campo no puede estar vacio y debe ser un email correcto</div>
        </div>

        <div class="contacto-card-input">
          <label for="asunto">Asunto</label>
          <input type="text" name="asunto" formControlName="asunto" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['asunto'].errors }" />
          <div style="color:red" *ngIf="form['asunto'].errors && form['asunto'].touched">El campo no puede estar vacio</div>
        </div>

        <div class="contacto-card-input">
          <label for="mensaje">Mensaje</label>
          <input type="text" name="mensaje" formControlName="mensaje" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['mensaje'].errors }" />
          <div style="color:red" *ngIf="form['mensaje'].errors && form['mensaje'].touched">El campo no puede estar vacio</div>
        </div>

        <div class="buttons">
          <input type="submit" class="button-submit" [disabled]="contactForm.invalid" />
          <button type="reset" (click)="onReset()">Borrar</button>
        </div>
      </form>
    </div>

  </div>

</div>
