<div id="curriculum-container" class="container-fluid">

  <h1>CURRÍCULUM</h1>

  <!-- EXPERIENCIA -->

  <div id="curriculum-text" class="row">

    <div class="col">
      <span>Experiencia</span>
    </div>

    <div class="col">
      <button>DESCARGAR CV</button>
    </div>

  </div>

  <div class="row">

    <div class="card-work container">
      <div class="row">
        <div class="col">
            <p class="card-work-fecha">2021 - 2023</p>
            <p class="card-work-puesto">PUESTO</p>
            <p class="card-work-empresa">Nombre de la empresa</p>
            <p class="card-work-empresa">Ubicación de la empresa</p>
        </div>

        <div class="col">
            <p class="card-work-experiencia">
              Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.
              Aquí puedes contar tu historia y permitir que tus usuarios sepan más sobre ti.
            </p>
        </div>
      </div>
    </div>

    <div class="card-work container">
      <div class="row">
        <div class="col">
            <p class="card-work-fecha">2021 - 2023</p>
            <p class="card-work-puesto">PUESTO</p>
            <p class="card-work-empresa">Nombre de la empresa</p>
            <p class="card-work-empresa">Ubicación de la empresa</p>
        </div>

        <div class="col">
            <p class="card-work-experiencia">
              Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.
              Aquí puedes contar tu historia y permitir que tus usuarios sepan más sobre ti.
            </p>
        </div>
      </div>
    </div>

    <div class="card-work container">
      <div class="row">
        <div class="col">
            <p class="card-work-fecha">2021 - 2023</p>
            <p class="card-work-puesto">PUESTO</p>
            <p class="card-work-empresa">Nombre de la empresa</p>
            <p class="card-work-empresa">Ubicación de la empresa</p>
        </div>

        <div class="col">
            <p class="card-work-experiencia">
              Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.
              Aquí puedes contar tu historia y permitir que tus usuarios sepan más sobre ti.
            </p>
        </div>
      </div>
    </div>

  </div>

    <!-- ESTUDIOS -->

    <div id="curriculum-text" class="row">

      <div class="col">
        <span>Estudios</span>
      </div>

      <div class="col">

      </div>

    </div>

    <div class="row">

      <div class="card-work container">
        <div class="row">
          <div class="col">
              <p class="card-work-fecha">2021 - 2023</p>
              <p class="card-work-puesto">PUESTO</p>
              <p class="card-work-empresa">Nombre de la empresa</p>
              <p class="card-work-empresa">Ubicación de la empresa</p>
          </div>

          <div class="col">
              <p class="card-work-experiencia">
                Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.
                Aquí puedes contar tu historia y permitir que tus usuarios sepan más sobre ti.
              </p>
          </div>
        </div>
      </div>

      <div class="card-work container">
        <div class="row">
          <div class="col">
              <p class="card-work-fecha">2021 - 2023</p>
              <p class="card-work-puesto">PUESTO</p>
              <p class="card-work-empresa">Nombre de la empresa</p>
              <p class="card-work-empresa">Ubicación de la empresa</p>
          </div>

          <div class="col">
              <p class="card-work-experiencia">
                Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.
                Aquí puedes contar tu historia y permitir que tus usuarios sepan más sobre ti.
              </p>
          </div>
        </div>
      </div>

      <div class="card-work container">
        <div class="row">
          <div class="col">
              <p class="card-work-fecha">2021 - 2023</p>
              <p class="card-work-puesto">PUESTO</p>
              <p class="card-work-empresa">Nombre de la empresa</p>
              <p class="card-work-empresa">Ubicación de la empresa</p>
          </div>

          <div class="col">
              <p class="card-work-experiencia">
                Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.
                Aquí puedes contar tu historia y permitir que tus usuarios sepan más sobre ti.
              </p>
          </div>
        </div>
      </div>

    </div>

</div>
