<!-- VERSIÓN PC -->
<div id="sobreMi_container" class="container-fluid">

  <div id="sobreMi_centro" class="container-fluid">

    <div class="row">

      <div id="sobreMi_left" class="col">

        <img src="https://i.pinimg.com/originals/70/44/83/704483664eaf850449e625b53572c4ba.jpg" alt="foto_personal">

        <h2>Jonathan Verdú Líria</h2>

        <p>PROGRAMADOR</p>

      </div>

      <div id="sobreMi_right" class="col">

        <h1>¡Hola!</h1>
        <p id="primerParrafo">Esto es lo que soy y lo que hago</p>

        <button routerLink="curriculum">CURRICULUM</button><button routerLink="proyectos">PROYECTOS</button>

        <p class="mt-4">Soy un apasionado de la tecnología desde siempre. Aprendí las bases de la programación en el instituto y a partir de ahí he sido autodidacta en la multitud de lenguajes que he ido aprendiendo.</p>
        <p>Gracias a estos conocimientos he ido pudiendo acceder a trabajos donde he seguido perfeccionando mis estudios y aprendiendo la forma de trabajo en el mundo real.
        <p>¡Siéntete libre de curiosear sobre una pequeña muestra de lo que sé!</p>

      </div>

    </div>

  </div>

</div>

<!-- VERSIÓN MÓVIL -->
<div id="sobreMi_container_mv" class="container-fluid">

  <div id="sobreMi_centro" class="container-fluid">

    <div class="row">

      <div id="sobreMi_left_mv" class="col">

        <img src="https://i.pinimg.com/originals/70/44/83/704483664eaf850449e625b53572c4ba.jpg" alt="foto_personal">

        <div>
          <h2>Jonathan Verdú Líria</h2>
          <p>PROGRAMADOR</p>
        </div>

      </div>

    </div>

    <div class="row">
      <div id="sobreMi_right_mv" class="col">

        <h1>¡Hola!</h1>
        <p id="primerParrafo">Esto es lo que soy y lo que hago</p>

        <button>CURRICULUM</button><button>PROYECTOS</button>

        <p class="mt-4">Soy un apasionado de la tecnología desde siempre. Aprendí las bases de la programación en el instituto y a partir de ahí he sido autodidacta en la multitud de lenguajes que he ido aprendiendo.</p>
        <p>Gracias a estos conocimientos he ido pudiendo acceder a trabajos donde he seguido perfeccionando mis conocimientos y aprendiendo la forma de trabajo en el mundo real.
        <p>¡Sientete libre de curiosear sobre una pequeña muestra de lo que se!</p>

      </div>

    </div>

  </div>

</div>
