/* --- GENERAL ---  */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&family=Titillium+Web:wght@700&display=swap');

body,html{
  margin: 0;
  padding: 0;
  padding-top: 60px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

button{
  border-radius: 30px;
  padding: 5px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: none;
  background-color: rgb(89, 136, 152);
  color: white;
}

button:hover{
  background-color: white;
  color: rgb(89, 136, 152);
  padding: 3px 17px;
  border: 2px solid rgb(89, 136, 152);
}

.button-submit{
  border-radius: 30px;
  padding: 5px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: none;
  background-color: rgb(89, 136, 152);
  color: white;
}

.button-submit:disabled{
  background-color: lightgrey;
  color: grey;
}

.button-submit:disabled:hover{
  background-color: lightgrey;
  color: grey;
  padding: 3px 17px;
  border: 2px solid lightgrey;
}

.button-submit:hover{
  background-color: white;
  color: rgb(89, 136, 152);
  padding: 3px 17px;
  border: 2px solid rgb(89, 136, 152);
}

.row{
  width: 100%;
  height: 100%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding: 0px;
  margin: 0px;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  padding: 0px;
  margin: 0px;
}

/* --- HEADER --- */

#header-nav{
  height: 8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(248, 248, 251);
  padding-left: 30px;
  padding-right: 30px;
}

#menu-mobile{
  display: none;
  position: fixed;
  left: 0;
  top: 5em;
  background-color: rgb(89, 136, 152);
  color: white;
  width: 100%;
}

#header-name{
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  margin-right: 8px;
}

#header-programador{
  margin-top:10px;
}

.header-menu{
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.header-menu li{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.header-menu li a{
  cursor: pointer;
}

.header-menu li a:hover{
  color:rgb(139, 177, 191) !important;
}

#menu{
  display:block;
}


/* A partir de aquí formato móvil de 'HEADER */
@media (max-width: 918px) {
  #header-nav {
    height: 5em;
  }
  #menu {
    display: none;
  }
  #menu-mobile {
    display: block;
  }
  html,body{
    padding-top: 30px;
  }
  .header-menu li a:hover{
    color:rgb(192, 222, 233) !important;
  }
}

@media  (max-width: 425px){
  #header-nav .row{
    flex-wrap: nowrap;
  }
  #header-texto{
    display:flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 375px){
  #header-programador-barra {
    display: none;
  }
  #header-nav {
    height: 6em;
  }
  #menu-mobile {
    top: 7em;
    font-size: 0.8em;
  }
}

@media (max-width: 320px){
  #header-nav {
    height: 6em;
  }
  #menu-mobile {
    top: 8em;
    font-size: 0.7em;
  }
}

/* --- SOBRE MI --- */

#sobreMi_container{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgb(144, 179, 191) 0%,
    rgb(144, 179, 191) 40%,
    white 40%,
    white 100%
  );
}

#sobreMi_container_mv{
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgb(144, 179, 191) 0%,
    rgb(144, 179, 191) 40%,
    white 40%,
    white 100%
  );
}

#sobreMi_centro{
  height: 60%;
  width: 45%;
  margin-top: 60px;
}

#sobreMi_left{
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgb(192, 222, 233);
  -webkit-box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
  box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
}

#sobreMi_left img{
  border-radius: 120px;
  margin-top: 30px;
}

#sobreMi_left_mv img{
  border-radius: 120px;
  margin-top: 30px;
}

#sobreMi_left h2{
  margin-top: 40px;
  font-family: 'Titillium Web', sans-serif;
}

#sobreMi_left_mv h2{
  margin-top: 40px;
  font-family: 'Titillium Web', sans-serif;
}

#sobreMi_left p{
  font-size: 1.4em;
}

#sobreMi_left_mv p{
  font-size: 1.4em;
}

#sobreMi_right{
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 0.9em;
}

#sobreMi_right_mv{
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 0.9em;
}

#sobreMi_right h1{
  font-family: 'Titillium Web', sans-serif;
  font-size: 6em;
}

#sobreMi_right_mv h1{
  font-family: 'Titillium Web', sans-serif;
  font-size: 6em;
}

#sobreMi_right #primerParrafo{
  font-size: 1.4em;
}

#sobreMi_right_mv #primerParrafo{
  font-size: 1.4em;
}

@media (max-width: 1633px) {
  #sobreMi_centro{
    width: 50%;
  }
}

@media (max-width: 1474px) {
  #sobreMi_centro{
    width: 55%;
  }
}

@media (max-width: 1343px) {
  #sobreMi_centro{
    width: 60%;
  }
}

@media (max-width: 1233px) {
  #sobreMi_centro{
    width: 65%;
  }
}

@media (max-width: 1142px) {
  #sobreMi_centro{
    width: 70%;
  }
}

@media (max-width: 1063px) {
  #sobreMi_centro{
    width: 75%;
  }
}

@media (max-width: 993px) {
  #sobreMi_centro{
    width: 80%;
  }
}

/* A partir de aquí formato móvil de 'SOBRE MI' */
@media (max-width: 966px) {
  #sobreMi_container{
    display: none;
  }
  #sobreMi_container_mv{
    display: flex;
    background-color: green;
  }
  #sobreMi_container_mv .row{
    height: auto;
  }
  #sobreMi_left_mv{
    height: 300px;
    background-color: rgb(192, 222, 233);
    -webkit-box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
    box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
  }
  #sobreMi_left_mv div{
    margin-top: 100px;
  }
  #sobreMi_left_mv img{
    float: left;
    display: inline;
  }
  #sobreMi_left_mv div h2{
    font-size: 2.7em;
    margin-left: 25px;
    display: inline;
  }
  #sobreMi_left_mv div p{
    text-align: center;
  }
  #sobreMi_right_mv{
    background-color: white;
    -webkit-box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
    box-shadow: 7px 8px 8px 0px rgba(0,0,0,0.12);
  }
}

@media (max-width: 883px) {
  #sobreMi_left_mv div h2{
    font-size: 2.3em;
  }
}

@media (max-width: 812px) {
  #sobreMi_left_mv{
    height: 250px;
  }
  #sobreMi_left_mv div h2{
    font-size: 1.8em;
  }
  #sobreMi_left_mv img{
    height: 200px;
  }
  #sobreMi_right_mv{
    font-size: 0.8em;
  }
}

@media (max-width: 812px) {
  #sobreMi_left_mv{
    height: 200px;
  }
  #sobreMi_left_mv div h2{
    font-size: 1.5em;
  }
  #sobreMi_left_mv div p{
    font-size: 1em;
  }
  #sobreMi_left_mv img{
    height: 150px;
  }
  #sobreMi_right_mv{
    font-size: 0.7em;
  }
}

@media (max-width: 580px) {
  #sobreMi_left_mv{
    height: 120px;
  }
  #sobreMi_left_mv div{
    margin-top: 40px;
  }
  #sobreMi_left_mv img{
    margin-top: 10px;
    height: 100px;
  }
  #sobreMi_right_mv h1{
    font-size: 4em;
  }
}

@media (max-width: 512px) {
  #sobreMi_left_mv div{
    text-align: center;
  }
  #sobreMi_left_mv div h2{
    font-size: 1em;
  }
  #sobreMi_left_mv div p{
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  #sobreMi_right_mv button{
    width: 100px;
    text-align: center;
    font-size: 0.9em;
  }
}

@media (max-width: 320px) {
  #sobreMi_left_mv{
    height: 100px;
  }
  #sobreMi_left_mv img{
    margin-top: 20px;
    height: 60px;
  }
  #sobreMi_left_mv div{
    margin-top: 15px;
  }
  #sobreMi_left_mv div h2{
    font-size: 1.2em;
  }
  #sobreMi_right_mv{
    font-size: 0.6em;
  }
  #sobreMi_right_mv h1{
    font-size: 3em;
  }
  #sobreMi_right_mv button{
    width: 80px;
    text-align: center;
    font-size: 0.8em;
  }
}

/* --- CURRICULUM--- */

#curriculum-container{
  background-color: rgb(144, 179, 191);
  padding-top: 60px;
}

#curriculum-container .row{
  display: flex;
  justify-content: center;
}

#curriculum-container h1{
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-right: 8px;
}

#curriculum-text{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 40px;
}

#curriculum-text div:first-child span{
  font-weight: bold;
  font-size: 1.4em;
}

.card-work{
  background-color: white;
  height: auto;
  width: 60%;
  margin-bottom: 60px;
  box-shadow: 10px 10px 10px #00000032;
}

.card-work .row div{
  padding: 50px;
}

.card-work .row div:first-child {
  background-color: rgb(89, 136, 152);
  color: white;
}

/* --- CONTACTO --- */

#contacto-container{
  background-color: rgb(144, 179, 191);
  padding-top: 60px;
}

#contacto-container .row{
  display: flex;
  justify-content: center;
}

.contacto-card{
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: white;
  width: 50%;
  box-shadow: 10px 10px 10px #00000032;
  padding: 50px;
}

#contacto-container h1{
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-right: 8px;
}

.contacto-card-input{
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  #contacto-container h1{
    margin-top: 30px;
    font-size: 2em;
  }

  .contacto-card-input label {
    font-size: 0.7em;
  }

  .contacto-card-input input {
    height: 25px;
  }

  .contacto-card .buttons button, .contacto-card .buttons input{
    font-size: 0.7em;
  }
}

@media (max-width: 425px) {
  .contacto-card{
    width: 90%;
  }
}


/* --- FOOTER --- */

#footer{
  width: 100%;
  height: 15%;
  background-color: rgb(248, 248, 251);
}

#footer .row{
  display: flex;
  align-items: center;
  padding: 20px;
}

#footer_left p{
  font-size: 0.8em;
}

#footer_right{
  display: flex;
  justify-content: flex-end;
}

#footer_right table td{
  border-right: 2px solid rgb(144, 179, 191);
}

#footer_right table tr th,td{
  padding-left: 25px;
  padding-right: 25px
}

@media (max-width: 788px){
  #footer{
    font-size: 0.9em;
  }
}

@media (max-width: 732px){
  #footer{
    font-size: 0.8em;
  }
}

@media (max-width: 650px){
  #footer{
    font-size: 0.7em;
  }
}

@media (max-width: 497px){
  #footer_right table tr th, td{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.15em;
  }
  #footer_right table{
    width: 5%;
  }
}

@media (max-width: 425px){
  #footer_right table tr th, td{
    font-size: 1.15em;
  }
}

@media (max-width: 375px){
  #footer_right table tr th, td{
    font-size: 1em;
  }
}

@media (max-width: 320px){
  #footer_right table tr th, td{
    font-size: 0.8em;
  }
}
